/*

!/lib
!/t

!CHANGES
!INSTALL
!LICENSE
!Makefile.PL
!README
!README.mkdn
!cpanfile
!dist.ini
!weaver.ini

!.editorconfig
!.gitattributes
!.gitignore
!.mailmap
!.perltidyrc
!.perlcriticrc
!.travis.yml