/*

!/bin
!/lib
!/t

!CHANGES
!INSTALL
!LICENSE
!Makefile.PL
!MANIFEST.SKIP
!README
!README.mkdn
!build
!cpanfile
!dist.ini
!weaver.ini

!.editorconfig
!.gitattributes
!.gitignore
!.mailmap
!.perltidyrc
!.perlcriticrc
!.replyrc
!.replydeps
!.travis.yml
